/* nav style  */

nav {
  display: flex;
  justify-content: space-between;
}

.image {
  background-image: url(/assets/Hero-bg.png);
}
/* hablur chobi middle e ansi */
.hablu {
  text-align: center;
}

.fstpara {
  text-align: center;
}

.margin {
  margin-bottom: 50px;
}

.front {
  text-align: center;
}
.fstpara {
  text-align: center;
}

/* image  */
.halbu1 {
  justify-content: right;
}

/* 1st paara  */

.fsterage {
  position: static;
  width: 946px;
  height: 336px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;

  margin: 32px 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #913f3f19;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scndcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.thirdpara {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(191, 54, 54, 0.3);
}

/* text  */

.webdev {
  text-align: center;
}
.text-content {
  max-width: 50%;
}

.learn-more-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: none;
  border: 30p;
}
.image-content {
  max-width: 100%;
  height: auto;
}

/* button er color  */
.contactme {
  border: 1px;
  border-radius: 5px;
  background-color: #0d1321;
  color: aliceblue;
  padding: 18px 35px;
  margin-bottom: 20px;
}
/* my insparation  */
.inspa {
  text-align: center;

  padding: 18px 35px;
  margin-bottom: 20px;
}
/* videolink  */
.videolink {
  text-align: center;
  max-width: 100%;
  height: auto;
  padding: 18px 35px;
  margin-bottom: 20px;
}

/* current  */
.current {
    text-align: center;

    padding: 18px 35px;
    margin-bottom: 20px;
}
.skill0{
  padding: 30px;
     box-shadow: 0px 6px 50px 0px rgba(165, 6, 6, 0.428);
border-radius: 5px;
}

.skill{
  padding: 30px;
   box-shadow: 0px 6px 50px 0px rgba(165, 6, 6, 0.428);
border-radius: 5px;
}
