/* nav style  */

nav {
  display: flex;
  justify-content: space-between;

}
/* body  */
.webbody{
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.image {
  background-image: url('assets/Hero-bg.png');
  height: 672px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
/* hablur chobi middle e ansi */
.hablu {
  text-align: center;
}

.fstpara {
  text-align: center;
}

.margin {
  margin-bottom: 50px;
}

.front {
  text-align: center;
}
.fstpara {
  text-align: center;
}

/* image  */
.halbu1 {
  justify-content: right;
}

/* 1st paara  */

.fsterage {
  position: static;
  width: 946px;
  height: 336px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;

  margin: 32px 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #913f3f19;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scndcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.thirdpara {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(191, 54, 54, 0.3);
}

/* text  */

.webdev {
  text-align: center;
}
.text-content {
  max-width: 50%;
}

.learn-more-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: none;
  border: 30p;
}
.image-content {
  max-width: 100%;
  height: auto;
}

/* button er color  */
.contactme {
  border: 1px;
  border-radius: 5px;
  background-color: #0d1321;
  color: aliceblue;
  padding: 18px 35px;
  margin-bottom: 20px;
}
/* my insparation  */
.inspa {
  text-align: center;

  padding: 18px 35px;
  margin-bottom: 20px;
}
/* videolink  */
.videolink {
  text-align: center;
  max-width: 100%;
  height: auto;
  padding: 18px 35px;
  margin-bottom: 20px;
}

/* current  */
.current {
  text-align: center;

  padding: 18px 35px;
  margin-bottom: 20px;
}

.skills-container{
  display: flex;
  gap: 24px;
justify-content: space-between;
}

/* next target  */
.next-target{
  text-align: center;
  padding: 18px 35px;
  margin-bottom: 20px;

}



/* html css javascirpts  */

.section-title{
  text-align: center;
}
.section-description{
  text-align: center;
}

.skill01{
  background-color: #FF4C1E0D;
}
.skill02{
  background-color:#004CE80D;
}
.skill03{
  background-color: #FFDF000D;
}

/* need support  */
.need_support{
  background-image: url('assets/handshake.jpg');
  background-size: cover;
  background-position: center;
  height: 313px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #FFFFFF;

}

.input_button{
  width: 684px;
  height: 57px;
}

/* footerrr  */


.foot{
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}



/* next target   */
.react{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nodejs{
  display: flex;
  align-items: center;
  
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mongoDB{
  display: flex;
  align-items: center;
 
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.box{
  background: white;
  border: none;
  border-radius: 5px;
  height: 57px;
  width: 684px;
}

.input_wrapper{
  display: flex;
  margin: 0 auto;
}